.edit-list-view,
.edit-list-view .list-cell {
    -fx-background-color: #F4F4F4;
}

.list-cell {
    -fx-padding: 0;
}

.text-field,
.edit-element .text-field {
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.edit-element {
    -fx-padding: 10px 10px 10px 25px;
}

.edit-element .color-picker,
.edit-element .drag-area {
    -fx-pref-height: 45px;
    -fx-pref-width: 45px;
    -fx-font-size: 40px;
    -fx-cursor: hand;
}

.edit-element .color-picker .arrow,
.edit-element .color-picker .arrow-button,
.edit-element .color-picker .color-picker-label {
    visibility: hidden;
}

.edit-element .separator {
    -fx-pref-width: 15px;
    -fx-pref-height: 5px;
}

.edit-element .separator .line {
    visibility: hidden;
}

.edit-element .value-field {
    -fx-pref-width: 220px;
}

.edit-element .weight-field {
    -fx-pref-width: 50px;
}

.edit-element .remove-btn {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-font-size: 30px;
}

.edit-element .remove-btn .ikonli-font-icon {
    -fx-fill: #c92929 !important;
}

.edit-element .remove-btn:hover .ikonli-font-icon {
    -fx-fill: #b62525 !important;
}

.edit-element .nav-container {
    -fx-alignment: center;
}

.up-btn,
.down-btn,
.edit-element .up-btn,
.edit-element .down-btn {
    -fx-pref-width: 35px;
    -fx-pref-height: 15px;
    -fx-min-height: 15px;
    -fx-max-height: 15px;
    -fx-background-radius: 8px;
    -fx-font-size: 12px;
}

