.list-view {
    -fx-background-color: transparent;
}

.button {
    -fx-padding: 0;
}

.transparent-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.rounded-btn {
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
}

.edit-window, .settings-window {
    -fx-background-color: #e7e7e7;
    -fx-translate-y: 650px;
}

.wheel-label {
    -fx-font-size: 20;
    -fx-font-weight: 800;
    -fx-text-fill: #f3f3f3;
}

.combo-box {
    -fx-background-radius: 4px;
    -fx-background-color: #d7d7d7;
}

.combo-box:hover {
    -fx-background-color: #c5c5c5;
}

.combo-box.open:hover {
    -fx-background-color: #d7d7d7 !important;
}

.combo-box .label {
    -fx-text-fill: #656565;
}

.combo-box .arrow {
    -fx-pref-width: 8px;
    -fx-pref-height: 3px;
    -fx-background-color: #E88164;
}

.combo-box .list-view {
    -fx-background-color: #d7d7d7;
    -fx-text-fill: #656565;
    -fx-padding: 4px 0 5px 0;
    -fx-translate-y: -4px;
    -fx-border-insets: 0;
    -fx-border-color: transparent;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #d7d7d7;
    -fx-text-fill: #656565;
    -fx-border-insets: 0 0 2px 0;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #656565;
    -fx-text-fill: #fafafa;
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #c5c5c5 !important;
    -fx-text-fill: #656565 !important;
}

#select-combo-box {
    -fx-background-radius: 8px;
}

#select-combo-box .arrow {
    -fx-pref-width: 14px;
    -fx-pref-height: 5px;
}

#select-combo-box .list-view {
    -fx-padding: 8px 0 10px 0;
    -fx-translate-y: -8px
}

#select-combo-box .list-view .list-cell {
    -fx-border-insets: 0 0 4px 0;
}

#edit-btn, #roll-btn {
    -fx-background-color: #E88164;
}

#edit-btn:hover,
#roll-btn:hover {
    -fx-background-color: #d5765c;
}

#edit-btn:pressed,
#roll-btn:pressed {
    -fx-background-color: #E88164;
}

#edit-btn .ikonli-font-icon,
#roll-btn .text {
    -fx-fill: #e7e7e7;
}

#edit-btn:hover .ikonli-font-icon,
#roll-btn:hover .text {
    -fx-fill: #d9d9d9;
}

#edit-btn:pressed .ikonli-font-icon,
#roll-btn:pressed .text {
    -fx-fill: #e7e7e7;
}

.add-btn {
    -fx-border-width: 3px;
    -fx-border-color: #E88164 !important;
}

.add-btn:hover {
    -fx-border-color: #d5765c !important;
}

.add-btn:pressed {
    -fx-border-color: #E88164 !important;
}

#settings-btn:hover .ikonli-font-icon,
.add-btn:hover .ikonli-font-icon {
    -fx-fill: #d5765c;
}

#settings-btn:pressed .ikonli-font-icon,
.add-btn:pressed .ikonli-font-icon {
    -fx-fill: #E88164;
}

#result-field {
    -fx-text-fill: #E88164;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

#top-panel {
    -fx-background-color: #e8e8e8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 0, 0, 0, 2);
}
